@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/footer.css");







:root{
  --background-color: #292929;
  --primary-color:  #292929;
  --secondary-color: white;
  --tertiary-color: #5e2129;
  --primary-font:  Russo One; 




}




body{
    background-color: var(--primary-color);
    margin: 0 0 150px; /* altura do seu footer */
    width: 100%;
      height: 50vw;
    display: block;
    overflow-x: hidden;
    }

*{
padding: 0;
margin: 0;

}

li {
    list-style-type: none;
  }

    .cabecalho{
    background-color: var(--tertiary-color);
    left: 0;
    top:0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
  
    
    }

    .cabecalho_titulo{
     font-size: 32px;
     padding: 10px;
     display: flex;
     flex-direction: row;
     gap: 40px;
     text-align: right;
     position: relative;
     margin-top: 20px;
     color: var(--secondary-color);
    
    }

    .cabecalho_img{
         height: 70px;
         width: 70px;
         border-radius: 20px;
         padding: 5px; 
         position: relative;
         margin-top: -20px;


    }

    .cabecalho_links{
     text-decoration: none;
     color: var(--secondary-color);
     font-size: 25px;
     font-family: Russo One;
     text-align: center;
    }
    
    .cabecalho_menu{  
    display: flex;
    flex-direction: row;
    gap:50px;
    text-align: center;
    padding: 5px 25px;
    height:10%;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    
  
    }
    
    .cabecalho_menu :hover{
        color: var(--secondary-color);

      
    }
    
    
    .Main{
     height: 100%;
     width: 100%;
     padding-bottom: 10px;
    }

    .Main_aside{
    width: 80%;
      }

    .Main_text{
        text-align: left;
        color: var(--secondary-color);
        font-size: 20px;
        text-align: justify;
        margin-left: 30%;
        }

    
    .Main_titulo{
    color:var(--secondary-color);
    font-family: Russo One;
    font-size: 30px;
    margin-left: 38%;
    }

    .Main_Subtitulo{
      color:var(--secondary-color);
      font-family: Russo One;
      font-size: 25px;
      margin-left: 40%;
      }

    .Main_img{
       height: 100px;
       width: 100px;
       border: 2px solid var(--secondary-color);
       border-radius: 20px;
    }

    .img_1{
      height: 180px;
      width: 180px;
      border: 2px solid var(--secondary-color);
      border-radius: 20px;
      padding: 5px;
      left: 8%;
      bottom: 1%;
      position: absolute;
      gap:10px;
   }

   .img_2{
    height: 180px;
    width: 180px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    padding: 5px;
    left: 26%;
    bottom: 1%;
    position: absolute;
    gap:10px;
 }

 .img_3{
  height: 180px;
  width: 180px;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  padding: 5px;
  left: 44%;
  bottom: 1%;
  position: absolute;
  gap:10px;
}

.img_4{
  height: 180px;
  width: 180px;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  padding: 5px;
  left: 62%;
  bottom: 1%;
  position: absolute;
  gap:10px;
}

.img_5{
  height: 180px;
  width: 180px;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  padding: 5px;
  left: 80%;
  bottom: 1%;
  position: absolute;
  gap:10px;
}

 .p_1{
  text-align: left;
  color: var(--secondary-color);
  font-size: 25px;
  text-align: justify;
  margin-left: 12%;
  position:absolute;
  bottom: 32%;
 }

 .p_2{
  text-align: left;
  color: var(--secondary-color);
  font-size: 25px;
  text-align: justify;
  margin-left: 30%;
  position:absolute;
  bottom: 32%;
  
 }
 .p_3{
  text-align: left;
  color: var(--secondary-color);
  font-size: 25px;
  text-align: justify;
  margin-left: 48%;
  position:absolute;
  bottom: 32%;
  
 }
 .p_4{
  text-align: left;
  color: var(--secondary-color);
  font-size: 25px;
  text-align: justify;
  margin-left: 67%;
  position:absolute;
  bottom: 32%;
  
 }
 .p_5{
  text-align: left;
  color: var(--secondary-color);
  font-size: 25px;
  text-align: justify;
  margin-left: 84%;
  position:absolute;
  bottom: 32%;

  
 }
    .espaço{
      margin: 60px 0;
    }

    .Footer_links{
      text-decoration: none;
      color: var(--secondary-color);
      text-align: center;
      border: 2px solid var(--secondary-color);
      padding: 0px 20px 10px 10px;
      border-radius: 8px;

    }

    .Footer_subtitulo{
     color: var(--secondary-color);
     padding: 10px 20px 30px 30px;
     font-size: 25px;
     font-family: Russo one;
    }


    .Footer_linksimg{
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
    padding: 5px;
 

    }
    
    .Footer_linkM{
    display: flex;
   flex-direction: row;
   gap: 150px;
   padding: 0px 50px 30px 50px;
   margin-left: 24%;

    }

    .Footer_linkM :hover{
      color: var(--background-color);
    
        }

@media screen and (max-width: 768px){
 .Main_aside{
  display: block;
  text-align: center;
 }
}

    Footer{
      width: 100%;
      background-color:var(--tertiary-color);
     position: static;
      bottom: 0;
      padding: 10px 0;
      text-align: center;
    }
   